{{#if user}}
<div>
    <h1>Discord Bots</h1>
    <div>
        <hr>
        <div class="card text-center">
            <div class="card-header card-text text-center">
                Bot sencillo
            </div>
            <div class="card-body text-center">
                <h4 class="card-text text-center">Bot sencillos para tu comunidad de discord!</h4>
                <hr>
                <p class="card-text text-center">Mas de 30 comandos<br>Personalizable!<br>Comandos de informacion de tu
                    comunidad!
                </p>
                <a href="/s" class=" card-text btn btn-warning">Comprar</a>
            </div>
            <div class="card-footer text-muted">
                Al momento de comprar aceptas todos los terminos y condiciones <a href="#" class="">ver</a>
            </div>
        </div>
        <hr>
        <div class="card text-center">
            <div class="card-header card-text text-center">
                Bot Avanzado
            </div>
            <div class="card-body text-center">
                <h4 class="card-text text-center">Bot avanzado para tu comunidad de discord!</h4>
                <hr>
                <p class="card-text text-center">Mas de 30 comandos<br>Personalizable!<br>Comandos de informacion de tu
                    comunidad!<br>Uso de base de datos<br>Editor de imagenes!
                </p>
                <a href="/a" class="card-text btn btn-warning">Comprar</a>
            </div>
            <div class="card-footer text-muted">
                Al momento de comprar aceptas todos los terminos y condiciones <a href="#" class="">ver</a>
            </div>
        </div>
        <hr>
        <div class="card text-center">
            <div class="card-header card-text text-center">
                Bot Musicales
            </div>
            <div class="card-body text-center">
                <h4 class="card-text text-center">Bot de musica para tu comunidad de discord!</h4>
                <hr>
                <p class="card-text text-center">Mas de 30 comandos<br>Personalizable!<br>Comandos de informacion de tu
                    comunidad! <br>Comando de musica para tu servido
                </p>
                <a href="/m" class="card-text btn btn-warning">Comprar</a>
            </div>
            <div class="card-footer text-muted">
                Al momento de comprar aceptas todos los terminos y condiciones <a href="#" class="">ver</a>
            </div>
        </div>
        <hr>
        <div class="card text-center">
            <div class="card-header card-text text-center">
                Bot Completos
            </div>
            <div class="card-body text-center">
                <h4 class="card-text text-center">Bot de musica para tu comunidad de discord!</h4>
                <hr>
                <p class="card-text text-center">Mas de 30 comandos<br>Personalizable!<br>Comandos de informacion de tu
                    comunidad! <br>Comando de musica para tu servido<br>Uso de base de datos<br>Editor de imagenes!
                </p>
                <a href="/c" class="card-text btn btn-warning">Comprar</a>
            </div>
            <div class="card-footer text-muted">
                Al momento de comprar aceptas todos los terminos y condiciones <a href="#" class="">ver</a>
            </div>
        </div>
        <hr>
    </div>
</div>
{{ else }}
<div>
    <h1>Para iniciar en la tienda necesitas logiarte</h1>
    <a href="login" class="nav-item"><button type="button" class="btn btn-outline-light">Login</button></a>
</div>
{{/if}}