<h1 class="text-center">DePic</h1>
<div>
    <h2>DePic:<p>Es una pagina web que empezo como un proyecto de una sola persona y era un bot de discord simple, ahora
            . . . Mira lo que se combirtio, Esto sera proximamente en una Bot List, tambien es servidores de distintos
            juegos, Tambien ofrecemos varios servicios para comprar y queremos formar una comunidad buena y no toxica
            :D, <a href="https://discord.com/invite/jpEDMh7vMs">Unirse :D</a>
        </p>
    </h2>
</div>
<div class="seperar">
    <figure class="animate depicFondo">
        <img src="https://cdn.discordapp.com/attachments/488521339305459713/828115728963338270/DePicLogo.png"
            class="d-block w-100" alt="..." width="60" height="600">
    </figure>

</div>
<div>
    <h2 class="text-center seperar">Staff</h2>
    <div class="container text-center">
        <div class="row row-cols-3">
            <div>
                <img class="depicLogosxd"
                    src="https://cdn.discordapp.com/avatars/332223388833677322/0b391f18576a3a7d3638da62213a7b64.webp?size=4096"
                    alt="" width="60" height="60">
                <p>Kawui <span class="badge bg-primary">CEO</span> <span class="badge bg-dark">Team DePic</span></p>
            </div>
            <div>
                <img class="depicLogosxd"
                    src="https://cdn.discordapp.com/avatars/439650171811266560/0cb2388fba78ad07e61e8e8d15c217a1.webp?size=4096"
                    alt="" width="60" height="60">
                <p>Toomdj01 <span class="badge bg-warning">Soporte</span> <span class="badge bg-dark">Team DePic</span>
                </p>
            </div>
            <div>
                <img class="depicLogosxd"
                    src="https://cdn.discordapp.com/avatars/426574336187695114/0c36b0975686208632e09e239d7896fa.webp?size=4096"
                    alt="" width="60" height="60">
                <p>zCreex180 <span class="badge bg-warning">Soporte</span> <span class="badge bg-dark">Team DePic</span>
                </p>
            </div>
            <div>
                <img class="depicLogosxd"
                    src="https://cdn.discordapp.com/avatars/331286368980303874/147d9ec2eac2e08de42b1bbc3db781b4.webp?size=4096"
                    alt="" width="60" height="60">
                <p>SrLoki <span class="badge bg-danger">Ayudantes</span></p>
            </div>
            <div>
                <img class="depicLogosxd"
                    src="https://cdn.discordapp.com/avatars/330745253361483777/1f1d3fbd0e06138caa162be7c3116568.webp?size=4096"
                    alt="" width="60" height="60">
                <p>Elcreado <span class="badge bg-danger">Ayudantes</span></p>
            </div>
        </div>
    </div>

</div>
<div>
    <h2 class="text-center seperar">Proyectos</h2>
    <div class="container text-center">
        <div class="row row-cols-3">
            <div>
                <img class="depicLogosxd"
                    src="https://cdn.discordapp.com/avatars/763582048995639296/3375200c74d09ef219704dfee8a1ce58.webp"
                    alt="" srcset="" width="60" height="60">
                <p></p>DePic <span class="badge bg-primary">DiscordBot</span></p>
            </div>
            <div>
                <img src="https://cdn.discordapp.com/attachments/660237048749228060/784922254298578984/DePicLetras.png"
                    alt="" srcset="" width="60" height="60">
                <p>DePic Support <span class="badge bg-primary">PaginaWeb</span>
                </p>
            </div>
            <div>
                <img src="https://th.bing.com/th/id/Ra5601b2b55765a70c084b6e09d7804fe?rik=qdFpqZxIZy%2bg9w&riu=http%3a%2f%2ficons.iconarchive.com%2ficons%2fpapirus-team%2fpapirus-apps%2f512%2funturned-icon.png&ehk=ncu2TCgwFCjvx80T1%2fkwr75EctY0ItmQLRb6kNFEPS8%3d&risl=&pid=ImgRaw"
                    alt="" srcset="" width="60" height="60">
                <p>Unturned servers <span class="badge bg-warning">Servidores</span>
                </p>
            </div>
        </div>
    </div>
    <div>
        <h2 class="seperar text-center"></h2>
    </div>
</div>
<div>
    <h2 class="separar text-center">Contribullentes</h2>
    <div>
        <div class="container text-center">
            <div class="row row-cols-3">
                <div>
                    <img class="depicLogosxd"
                        src="https://cdn.discordapp.com/avatars/332223388833677322/0b391f18576a3a7d3638da62213a7b64.webp?size=4096"
                        alt="" width="60" height="60">
                    <p>Kawui <span class="badge bg-primary">CEO</span> <span class="badge bg-dark">Team DePic</span></p>
                    <p>Fundador de DePic</p>
                </div>
                <div>
                    <img class="depicLogosxd"
                        src="https://cdn.discordapp.com/avatars/439650171811266560/0cb2388fba78ad07e61e8e8d15c217a1.webp?size=4096"
                        alt="" width="60" height="60">
                    <p>Toomdj01 <span class="badge bg-warning">Soporte</span> <span class="badge bg-dark">Team
                            DePic</span>
                    </p>
                    <p>Apoyo en el comando memes, aportador de ideas y tester</p>
                </div>
            </div>
        </div>
    </div>
</div>