<div class="div2">
    <div class="div-cards">
        <h2>Musica</h2>
    </div>
    <div class="cmd-cards">
        <div class="card text-white bg-secondary mb-3">
            <img src="" alt="">
            <h3 class="card-header">Play</h3>
            <p class="card-text">Para reproducir musica mediante un link o el titulo de la cancion</p>
        </div>
        <div class="card text-white bg-secondary mb-3">
            <img src="" alt="">
            <h3 class="card-header">Skip</h3>
            <p class="card-text">Comado para sklipiar una musica de la lista de reproducion (BUG)</p>
        </div>
        <div class="card text-white bg-secondary mb-3">
            <img src="" alt="">
            <h3 class="card-header">queue</h3>
            <p class="card-text">queue para ver las singuientes cainciones que se van a reproducir</p>
        </div>
        <div class="card text-white bg-secondary mb-3">
            <img src="" alt="">
            <h3 class="card-header">stop</h3>
            <p class="card-text">Para parar toda lista de reproducion</p>
        </div>
        <div class="card text-white bg-secondary mb-3">
            <img src="" alt="">
            <h3 class="card-header">volumen</h3>
            <p class="card-text">Para suvir o bajar el volumen de una cancion</p>
        </div>
        <div class="card text-white bg-secondary mb-3">
            <img src="" alt="">
            <h3 class="card-header">pause</h3>
            <p class="card-text">Para pausar una musica que se esta reproduciendo</p>
        </div>
        <div class="card text-white bg-secondary mb-3">
            <img src="" alt="">
            <h3 class="card-header">resume</h3>
            <p class="card-text">Para despausar la musica</p>
        </div>
    </div>
    <div>
        <div>
            <h2>Divercion</h2>
        </div>
        <div class="cmd-cards">
            <div class="card text-white bg-secondary mb-3">
                <img src="" alt="">
                <h3 class="card-header NumRan">NumberRandom</h3>
                <p class="card-text">Como dice saca un numero random de 1 a 100</p>
            </div>
            <div class="card text-white bg-secondary mb-3">
                <img src="" alt="">
                <h3 class="card-header">Avatar</h3>
                <p class="card-text">Muestra el avatar de un usuario</p>
            </div>
            <div class="card text-white bg-secondary mb-3">
                <img src="" alt="">
                <h3 class="card-header">Ping</h3>
                <p class="card-text">Te muestra el ping que tienes</p>
            </div>
            <div class="card text-white bg-secondary mb-3">
                <img src="" alt="">
                <h3 class="card-header">Love</h3>
                <p class="card-text">Muestra cuanto amor tienen 2 usuario</p>
            </div>
            <div class="card text-white bg-secondary mb-3">
                <img src="" alt="">
                <h3 class="card-header">icono</h3>
                <p class="card-text">Muestra la foto del servidor</p>
            </div>
            <div class="card text-white bg-secondary mb-3">
                <img src="" alt="">
                <h3 class="card-header">Bola8</h3>
                <p class="card-text">Hasle una pregunta al bot</p>
            </div>
            <div class="card text-white bg-secondary mb-3">
                <img src="" alt="">
                <h3 class="card-header">Mat</h3>
                <p class="card-text">Para hacer sumas, restas, multiplicaciones, diviciones</p>
            </div>
        </div>
    </div>
    <div>
        <h2>Informacion</h2>
    </div>
    <div class="cmd-cards">
        <div class="card text-white bg-secondary mb-3">
            <img src="" alt="">
            <h3 class="card-header">userinfo</h3>
            <p class="card-text">Te dices carecteristicas del usuario (Tag, apodo etc)</p>
        </div>
        <div class="card text-white bg-secondary mb-3">
            <img src="" alt="">
            <h3 class="card-header">serverinfo</h3>
            <p class="card-text">Te dices carecteristicas del server (Owner, ID, Imagen)</p>
        </div>
        <div class="card text-white bg-secondary mb-3">
            <img src="" alt="">
            <h3 class="card-header">emojilist</h3>
            <p class="card-text">Una lista de todos los emojis del server (BUG)</p>
        </div>
        <div class="card text-white bg-secondary mb-3">
            <img src="" alt="">
            <h3 class="card-header">rolelist</h3>
            <p class="card-text">Una lista de todos los roles de un servidor</p>
        </div>
    </div>
    <div>
        <div>
            <h2>Moderacion</h2>
        </div>
        <div class="cmd-cards">
            <div class="card text-white bg-secondary mb-3">
                <img src="" alt="">
                <h3 class="card-header">Kick</h3>
                <p class="card-text">Para sacar a alguien del servidor</p>
            </div>
            <div class="card text-white bg-secondary mb-3">
                <img src="" alt="">
                <h3 class="card-header">Ban</h3>
                <p class="card-text">Baneas a alguien del servidor</p>
            </div>
            <div class="card text-white bg-secondary mb-3">
                <img src="" alt="">
                <h3 class="card-header">AddRol</h3>
                <p class="card-text">Agregas un rol a un usuario</p>
            </div>
            <div class="card text-white bg-secondary mb-3">
                <img src="" alt="">
                <h3 class="card-header">DelRol</h3>
                <p class="card-text">Eliminas un rol a un usuario</p>
            </div>
            <div class="card text-white bg-secondary mb-3">
                <img src="" alt="">
                <h3 class="card-header">Slowmode</h3>
                <p class="card-text">Activa el Slowmode de un canal (BUG)</p>
            </div>
            <div class="card text-white bg-secondary mb-3">
                <img src="" alt="">
                <h3 class="card-header">Say</h3>
                <p class="card-text">Has que diga algo el bot</p>
            </div>
            <div class="card text-white bg-secondary mb-3">
                <img src="" alt="">
                <h3 class="card-header">idmember</h3>
                <p class="card-text">Menciona a un miembro y te da poca informacion</p>
            </div>
        </div>
        <div>
            <div>
                <h2>Otros</h2>
            </div>
            <div class="cmd-cards">
                <div class="card text-white bg-secondary mb-3">
                    <img src="" alt="">
                    <h3 class="card-header">NsfwHelp</h3>
                    <p class="card-text">Comando para ver todos los comandos NSFW</p>
                </div>
            </div>
        </div>