<div class="div2">
    <h2>Preguntas</h2>
    <div>
        <div class="card">
            <h5 class="card-header FaQ-Font">多Cual es el prefix?</h5>
            <div class="card-body">
                <p class="card-text FaQ-Font">El prefix basico es = & ,Pero si el servidor lo pueden cambiar a cual
                    quiera simbolo
                </p>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header FaQ-Font">多Como usar el comando AddRol?</h5>
            <div class="card-body">
                <p class="card-text FaQ-Font">Su uso es sencillo pero si no sabes como usarlo o directamente no sabes el
                    uso es &AddRol @ROL @USUARIO, Nota: Necesitas mencionar al rol y al usuario
                </p>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header FaQ-Font">多Como usar el comando DelRol?</h5>
            <div class="card-body">
                <p class="card-text FaQ-Font">Su uso es sencillo pero si no sabes como usarlo o directamente no sabes el
                    uso es &DelRol @ROL @USUARIO> , Nota: Necesitas mencionar al rol y al usuario
                </p>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header FaQ-Font">多Porque la musica se escucha trabada?</h5>
            <div class="card-body">
                <p class="card-text FaQ-Font">No es tu problema, el problema es de nosotros sorry por la mala calidad
                    pero es problema con el host, despues actualizaremos a un host mejor para escuchar la musica bien
                </p>
            </div>
        </div>
        <p>Si tienes una pregunta mandame un DM Kawui#0001</p>
    </div>
</div>