<div class="div2">
    <div>
        <div>
            <h2 class="HTR">Reglas Generales</h2>
        </div>
        <div>
            <div class="TR">
                <div>
                    <div class="card-group">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-dark">Regla 1</h5>
                                <p class="card-text text-dark">No spam: A esto me refiero a que no puedes spamear los
                                    comandos
                                    del bot hay unos
                                    que si tienen sentido pero si se hace sin sentido o con otros motivos, Te
                                    banearemos es uso del bot por la razon de: SCB</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-dark">Regla 2</h5>
                                <p class="card-text text-dark">No uso para raidiar: El bot tiene carecteristicas que
                                    pueden servir para un raider pero no esta planteado para raidiar servidores entoces
                                    de dejamos claro si alguien raidear su servidor mediante este bot REPORTELO para ser
                                    baneado por: RAS</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-dark">Regla 3</h5>
                                <p class="card-text text-dark">El spam a DM: A esto me refiero que espames a Kawui#0001
                                    Por tonterias, SI sigues asiendo eso seras bloquiado de mi DM y del Bot razon del
                                    baneo : SDM</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h1>Abran mas reglas pero con el paso del tiempo se actulisaran</h1>
                </div>
            </div>
        </div>
    </div>
</div>