<h1 class="text-center">Tienda</h1>
<div>
    <p class="text-center">Aqui encontraras todas las cosas que estamos vendiendo si deseas comprar una tienes que estar
        en el discord del esta web</p>
</div>
<div>
    <div class="text-center row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card cardNoDash" style="width: 18rem;">
                <img src="https://cdn.discordapp.com/attachments/488521339305459713/828115728963338270/DePicLogo.png"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">DePic Premiun, Membresia premiun de server</p>
                    <hr>
                    <br>Tienes algun problema unete al server de discord y pide ayuda ahi!
                    <a href="https://discord.gg/jpEDMh7vMs">Unirse</a>
                    <br>
                    <div class="text-center">
                        <p>ACTUALIZACIÓN</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card cardNoDash" style="width: 18rem;">
                <img src="https://cdn.discordapp.com/attachments/763804175510929469/828482268003041351/Discord-LogoWordmark-Color.png"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Comprar un bot de discord pesonablisable</p>
                    <hr>
                    <br> Tienes algun problema unete al server de discord y pide ayuda ahi!
                    <a href="https://discord.gg/jpEDMh7vMs">Unirse</a>
                    <div class="text-center">
                        <hr>
                        <a href="/tienda/discord/bot" class="nav-item"><button type="button"
                                class="btn btn-outline-warning">Comprar</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card cardNoDash" style="width: 18rem;">
                <img src="https://th.bing.com/th/id/OIP.H2vw5L0SAs7QrasEaAFw6AHaEK?pid=ImgDet&w=1024&h=576&rs=1"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Tambien puedes comprar un pack de NPCs de unturned tenemos a varios ya con NPCs
                        hechos anteriolmente</p>
                    <hr>
                    <br> Tienes algun problema unete al server de discord y pide ayuda ahi!
                    <a href="https://discord.gg/jpEDMh7vMs">Unirse</a>
                    <br>
                    <div class="text-center">
                        <p>ACTUALIZACIÓN</p>
                    </div>
                </div>
            </div>
        </div>

        <!--senguda fila -->
        <div class="col">
            <div class="card cardNoDash" style="width: 18rem;">
                <img src="https://th.bing.com/th/id/OIP.H2vw5L0SAs7QrasEaAFw6AHaEK?pid=ImgDet&w=1024&h=576&rs=1"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Puedes comprar la ayuda o la configuracion de alguien ya esperimentado en
                        configuracion de servers de Unturned (Kawui) </p>
                    <hr>
                    <br>Tienes algun problema unete al server de discord y pide ayuda ahi!
                    <a href="https://discord.gg/jpEDMh7vMs">Unirse</a>
                    <br>
                    <div class="text-center">
                        <p>ACTUALIZACIÓN</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card cardNoDash" style="width: 18rem;">
                <img src="https://th.bing.com/th/id/OIP.H2vw5L0SAs7QrasEaAFw6AHaEK?pid=ImgDet&w=1024&h=576&rs=1"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Mods de unturned se esta buscando personas para este trabajo quieres unirte
                        habla con kawui</p>
                    <hr>
                    <br> Tienes algun problema unete al server de discord y pide ayuda ahi!
                    <a href="https://discord.gg/jpEDMh7vMs">Unirse</a>
                    <br>
                    <div class="text-center">
                        <p>PROXIMAMENTE</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card cardNoDash" style="width: 18rem;">
                <img src="https://th.bing.com/th/id/OIP.H2vw5L0SAs7QrasEaAFw6AHaEK?pid=ImgDet&w=1024&h=576&rs=1"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Estamos buscando personas que saben hacer mapas si quieres ser uno de ellos
                        habla con kawui</p>
                    <hr>
                    <br> Tienes algun problema unete al server de discord y pide ayuda ahi!
                    <a href="https://discord.gg/jpEDMh7vMs">Unirse</a>
                    <br>
                    <div class="text-center">
                        <p>PROXIMAMENTE</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col text-center">
        <div class="card cardNoDash" style="width: 18rem;">
            <img src="https://codigofacilito.com/system/articles/covers/000/000/043/original/html.jpg?1444827874"
                class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Paginas Webs, Son tardadas en hacer pero son bonitas</p>
                <hr>
                <br> Tienes algun problema unete al server de discord y pide ayuda ahi! <a
                    href="https://discord.gg/jpEDMh7vMs">Unirse</a>
                <br>
                <div class="text-center">
                    <p>ACTUALIZACIÓN</p>
                </div>
            </div>
        </div>
    </div>
</div>