<div class="div2">
    <h2 class="BU">Usuarios Baneados permamente de la plataforma</h2>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Tag</th>
                <th scope="col">ID</th>
                <th scope="col">Razon</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>No hay caso</td>
                <td>No hay caso</td>
                <td>No hay caso</td>
                <td>No hay caso</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>No hay caso</td>
                <td>No hay caso</td>
                <td>No hay caso</td>
                <td>No hay caso</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>No hay caso</td>
                <td>No hay caso</td>
                <td>No hay caso</td>
                <td>No hay caso</td>
            </tr>
        </tbody>
    </table>
</div>